/* Start Imports */
/* Start of Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* End Imports */
/* End of Google Fonts */

/* Start of Globals */
* {
  font-family: 'Press Start 2P', mono;
}

/* End of Globals */

/* Start of Custom Grid Layout */
.row {
  display: flex;
  flex-wrap: nowrap;
}

.col_2 {
  flex-basis: 50%;
}

.col_3 {
  flex-basis: 33%;
}

.col_4 {
  flex-basis: 25%;
}
/* End of Custom Grid Layout */

/* Start of App Styling */
body {
  height: 100vh;
  background: #2c165f !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* End of App Styling */

/* Start of Navigation Styling */
.appContainer {
  width: 20vw;
  height: 80vh;
  border: 3px solid white;
  border-radius: 5%;
  background: url(./imgs/appContainerBG.jpg) rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0px 5px 25px 25px rgba(255, 255, 255, 0.2);
}

.navLinks a {
  text-decoration: none;
}

.backButton {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.spacer {
  border-top: 1px solid white;
}

logo img {
  max-width: 100%;
/*  background: rgba(255, 255, 255, 0.1); */
}

.appTitle {
  color: white;
}

.subTitle {
  font-size: 10px;
  color: white;
  margin-bottom: 0;
}

#navCol {
  display: flex;
  flex-wrap: wrap;
}

#vendorChoice {
  font-size: 1em;
  flex-basis: 100%;
}

#navCol ul {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  margin-bottom: 4%;
}
.navLinks {
  list-style: none;
}

.navLinks.btn-info {
  border: 4px double rgb(0, 0, 0);
  border-radius: 5%;
}

button li {
  color: #fff;
}

.fortiCol {
  flex-wrap: nowrap !important;
}
/* Start of Mobile Nav Styling */
@media all and (max-width: 1919px) {
  
}

@media all and (min-width:1440) and (max-width: 1919px) {
	.appContainer {
		width: 25vw !important;
		height: 90vh;
	}
}

@media all and (min-width:980) and (max-width: 1439px) {
	.appContainer {
		width: 40vw !important;
		height: 90vh;
	}
}

@media all and (min-width:768) and (max-width: 979px) {
	.appContainer {
		width: 50vw !important;
		height: 90vh;
	}
}

@media all and (max-width: 425px) {
	.appContainer {
		width: 90vw;
		height: 90vh;
	}
}
/* End Mobile Nav Styling */

/* End of Navigation Styling */


/* Start of Modal Styling */
.modal-dialog {
  max-width: 80% !important;
}
/* End of Modal Styling */

/* Start of Text Area for Whitelist */
.textFields {
  height: 250px;
  max-height: 250px;
  width: 100%;
  overflow-y: scroll;
  resize: none;
}
/* End of Text Area for Whitelist */

/* Everything below this line is Stock Create-React-App Styling */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
